footer {
  width: 100vw;
}

footer > .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: $header-background-color;
  padding: 0.5rem 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

footer > .container > a, footer > .container > a:visited {
  color: $brand-color
}

footer > .container > a:last-of-type {
  margin-left: 3rem;
}
